# Root
.idea/
.project

# Library

# Services
/services/log/*
!/services/log/Log.php
/services/module/map.ini

# Model
/model/modules/*
!/model/modules/man/
!/model/modules/SystemPackages/

# View
/view/screens/*
!/view/screens/Console/
/view/library/YUI/
